/*  Typicons  
==================================== */

@font-face {
  font-family: 'Typicons';
  src: url('/font/typicons-regular-webfont.eot');
  src: url('/font/typicons-regular-webfont.eot?#iefix') format("embedded-opentype"), url('/font/typicons-regular-webfont.woff') format("woff"), url('/font/typicons-regular-webfont.ttf') format("truetype"), url('/font/typicons-regular-webfont.svg#TypiconsRegular') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="typicn-"]:before, [class*=" typicn-"]:before {
  font-family: Typicons;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a {
  [class^="typicn-"], [class*=" typicn-"] {
    display: inline-block;
    text-decoration: inherit;
  }
}

/* makes the font 33% larger relative to the typicn container */

.typicn-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}

.btn {
  [class^="typicn-"], [class*=" typicn-"] {
    /* keeps button heights with and without typicn the same */
    line-height: .9em;
  }
}

li {
  [class^="typicn-"], [class*=" typicn-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
  }
  .typicn-large {
    &[class^="typicn-"], &[class*=" typicn-"] {
      /* 1.5 increased font size for icofont-large * 1.25 width */
      width: 1.875em;
    }
  }
  &[class^="typicn-"], &[class*=" typicn-"] {
    margin-left: 0;
    list-style-type: none;
  }
  &[class^="typicn-"]:before, &[class*=" typicn-"]:before {
    text-indent: -2em;
    text-align: center;
  }
  &[class^="typicn-"].typicn-large:before, &[class*=" typicn-"].icofont-large:before {
    text-indent: -1.33333em;
  }
}

.typicn-location:before {
  content: "A";
}

.typicn-phone:before {
  content: "B";
}

.typicn-home:before {
  content: "C";
}

.typicn-camera:before {
  content: "D";
}

.typicn-left:before {
  content: "E";
}

.typicn-right:before {
  content: "F";
}

.typicn-up:before {
  content: "G";
}

.typicn-down:before {
  content: "H";
}

.typicn-refresh:before {
  content: "I";
}

.typicn-sync:before {
  content: "J";
}

.typicn-loop:before {
  content: "K";
}

.typicn-repeat:before {
  content: "L";
}

.typicn-shuffle:before {
  content: "M";
}

.typicn-rss:before {
  content: "N";
}

.typicn-cog:before {
  content: "O";
}

.typicn-spanner:before {
  content: "P";
}

.typicn-barChart:before {
  content: "Q";
}

.typicn-pieChart:before {
  content: "R";
}

.typicn-lineChart:before {
  content: "S";
}

.typicn-views:before {
  content: "T";
}

.typicn-zoomIn:before {
  content: "V";
}

.typicn-zoomOut:before {
  content: "U";
}

.typicn-export:before {
  content: "W";
}

.typicn-user:before {
  content: "X";
}

.typicn-group:before {
  content: "Y";
}

.typicn-microphone:before {
  content: "Z";
}

.typicn-globe:before {
  content: "a";
}

.typicn-thumbsUp:before {
  content: "b";
}

.typicn-thumbsDown:before {
  content: "c";
}

.typicn-tag:before {
  content: "d";
}

.typicn-tab:before {
  content: "e";
}

.typicn-warning:before {
  content: "f";
}

.typicn-tick:before {
  content: "g";
}

.typicn-beta:before {
  content: "h";
}

.typicn-unlock:before {
  content: "i";
}

.typicn-lock:before {
  content: "j";
}

.typicn-eject:before {
  content: "k";
}

.typicn-move:before {
  content: "l";
}

.typicn-expand:before {
  content: "m";
}

.typicn-cancel:before {
  content: "n";
}

.typicn-power:before {
  content: "o";
}

.typicn-compass:before {
  content: "p";
}

.typicn-radar:before {
  content: "q";
}

.typicn-directions:before {
  content: "r";
}

.typicn-pin:before {
  content: "s";
}

.typicn-mute:before {
  content: "t";
}

.typicn-volume:before {
  content: "u";
}

.typicn-world:before {
  content: "v";
}

.typicn-write:before {
  content: "w";
}

.typicn-minus:before {
  content: "x";
}

.typicn-equals:before {
  content: "y";
}

.typicn-feed:before {
  content: "z";
}

.typicn-batteryNone:before {
  content: "0";
}

.typicn-batteryLow:before {
  content: "1";
}

.typicn-batteryMid:before {
  content: "2";
}

.typicn-batteryHigh:before {
  content: "3";
}

.typicn-batteryPower:before {
  content: "4";
}

.typicn-plus:before {
  content: "5";
}

.typicn-times:before {
  content: "6";
}

.typicn-next:before {
  content: "7";
}

.typicn-previous:before {
  content: "8";
}

.typicn-edit:before {
  content: "9";
}

.typicn-cut:before {
  content: "'";
}

.typicn-anchor:before {
  content: "(";
}

.typicn-bookmark:before {
  content: ")";
}

.typicn-music:before {
  content: "*";
}

.typicn-puzzle:before {
  content: "+";
}

.typicn-archive:before {
  content: ",";
}

.typicn-mobile:before {
  content: "-";
}

.typicn-contrast:before {
  content: ".";
}

.typicn-brightness:before {
  content: "/";
}

.typicn-flag:before {
  content: "{";
}

.typicn-info:before {
  content: "|";
}

.typicn-unknown:before {
  content: "}";
}

.typicn-chat:before {
  content: "~";
}

.typicn-mail:before {
  content: "[";
}

.typicn-message:before {
  content: "\005C";
}

.typicn-delete:before {
  content: "]";
}

.typicn-backspace:before {
  content: "^";
}

.typicn-infinity:before {
  content: "_";
}

.typicn-key:before {
  content: "$";
}

.typicn-time:before {
  content: "%";
}

.typicn-grid:before {
  content: "\0022";
}

.typicn-list:before {
  content: "\0023";
}

.typicn-heart:before {
  content: ";";
}

.typicn-star:before {
  content: "=";
}

.typicn-back:before {
  content: "?";
}

.typicn-forward:before {
  content: "@";
}

/*  end Typicons  
==================================== */

/*  Sosialico  
==================================== */

@font-face {
  font-family: "Socialico";
  src: url('/font/Socialico.eot');
  src: url('/font/Socialico.eot?#iefix') format("eot"), url('/font/Socialico.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*  Font Socialico styles
    ------------------------------------------------------- */

[class^="socialico-"]:before, [class*=" socialico-"]:before {
  font-family: Socialico;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a {
  [class^="socialico-"], [class*=" socialico-"] {
    display: inline-block;
    text-decoration: inherit;
  }
}

/* makes the font 33% larger relative to the socialico container */

.socialico-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}

.btn {
  [class^="socialico-"], [class*=" socialico-"] {
    /* keeps button heights with and without icofonts the same */
    line-height: .9em;
  }
}

.socialico-amazon:before {
  content: 'A';
}

.socialico-bebo:before {
  content: 'B';
}

/*.socialico-:before{content: 'C';}*/

.socialico-dribbble:before {
  content: 'D';
}

.socialico-behance:before {
  content: 'E';
}

.socialico-facebook:before {
  content: 'F';
}

.socialico-google:before {
  content: 'G';
}

.socialico-skype:before {
  content: 'H';
}

.socialico-linkedin:before {
  content: 'I';
}

.socialico-deviantART:before {
  content: 'J';
}

.socialico-badoo:before {
  content: 'K';
}

.socialico-twitter:before {
  content: 'L';
}

.socialico-myspace:before {
  content: 'M';
}

.socialico-flickr:before {
  content: 'N';
}

.socialico-tumblr:before {
  content: 'O';
}

.socialico-paypal:before {
  content: 'P';
}

.socialico-quora:before {
  content: 'Q';
}

.socialico-rss:before {
  content: 'R';
}

.socialico-stumbleupon:before {
  content: 'S';
}

.socialico-twitter-text:before {
  content: 'T';
}

.socialico-blogger:before {
  content: 'U';
}

.socialico-vimeo:before {
  content: 'V';
}

.socialico-wordpress:before {
  content: 'W';
}

.socialico-youtube:before {
  content: 'X';
}

.socialico-yahoo:before {
  content: 'Y';
}

.socialico-aim:before {
  content: 'Z';
}

.socialico-amazon-sign:before {
  content: 'a';
}

.socialico-bebo-sign:before {
  content: 'b';
}

/*.socialico-:before{content: 'c';} */

.socialico-dribbble-sign:before {
  content: 'd';
}

.socialico-behance-sign:before {
  content: 'e';
}

.socialico-facebook-sign:before {
  content: 'f';
}

.socialico-google-sign:before {
  content: 'g';
}

.socialico-skype-sign:before {
  content: 'h';
}

.socialico-linkedin-sign:before {
  content: 'i';
}

.socialico-deviantART-sign:before {
  content: 'j';
}

.socialico-badoo-sign:before {
  content: 'k';
}

.socialico-twitter-sign:before {
  content: 'l';
}

.socialico-myspace-sign:before {
  content: 'm';
}

.socialico-flickr-sign:before {
  content: 'n';
}

.socialico-tumblr-sign:before {
  content: 'o';
}

.socialico-paypal-sign:before {
  content: 'p';
}

.socialico-quora-sign:before {
  content: 'q';
}

.socialico-rss-sign:before {
  content: 'r';
}

.socialico-stumbleupon-sign:before {
  content: 's';
}

.socialico-twitter-text-sign:before {
  content: 't';
}

.socialico-blogger-sign:before {
  content: 'u';
}

.socialico-vimeo-sign:before {
  content: 'v';
}

.socialico-wordpress-sign:before {
  content: 'w';
}

.socialico-youtube-sign:before {
  content: 'x';
}

.socialico-yahoo-sign:before {
  content: 'y';
}

.socialico-aim-sign:before {
  content: 'z';
}

.socialico-windows:before {
  content: '0';
}

.socialico-addthis:before {
  content: '1';
}

.socialico-sharethis:before {
  content: '2';
}

.socialico-heart:before {
  content: '3';
}

.socialico-picasa:before {
  content: '4';
}

.socialico-viddler:before {
  content: '5';
}

.socialico-lastfm:before {
  content: '6';
}

.socialico-google-map:before {
  content: '7';
}

.socialico-feed:before {
  content: '8';
}

.socialico-qik:before {
  content: '9';
}

.socialico-blank:before {
  content: '\f0c8';
}

.socialico-soundcloud:before {
  content: '!';
}

.socialico-me:before {
  content: '$';
}

.socialico-pinterest:before {
  content: '&';
}

/*
.socialico-:before{content: '(';}
.socialico-:before{content: ')';}
*/

.socialico-ziki:before {
  content: ',';
}

.socialico-start:before {
  content: '-';
}

.socialico-ilike:before {
  content: '.';
}

.socialico-steam:before {
  content: '/';
}

.socialico-google-talk:before {
  content: '?';
}

.socialico-apple:before {
  content: '@';
}

/*  end Sosialico  
==================================== */

@font-face {
  font-family: 'Elusive-Icons';
  src: url('/font/Elusive-Icons.eot');
  src: url('/font/Elusive-Icons.eot?#iefix') format("embedded-opentype"), url('/font/Elusive-Icons.svg#Elusive-Icons') format("svg"), url('/font/Elusive-Icons.woff') format("woff"), url('/font/Elusive-Icons.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


[data-icon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="elusive-"]:before, [class*=" elusive-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

a {
  [class^="elusive-"], [class*=" elusive-"] {
    display: inline-block;
    text-decoration: inherit;
  }
}

/* makes the font 33% larger relative to the icon container */

.elusive-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}

.btn {
  [class^="elusive-"], [class*=" elusive-"] {
    /* keeps button heights with and without icons the same */
    line-height: .9em;
  }
}

.nav-tabs {
  [class^="elusive-"], [class*=" elusive-"] {
    /* keeps button heights with and without icons the same */
    line-height: .9em;
  }
}

li {
  [class^="elusive-"], [class*=" elusive-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
  }
  .elusive-large:before {
    width: 1.875em;
  }
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -0.8em;
  li {
    [class^="elusive-"], [class*=" elusive-"] {
      width: .8em;
    }
    .elusive-large:before {
      vertical-align: initial;
    }
  }
}

.btn-large {
  [class^="elusive-"], [class*=" elusive-"] {
    margin-top: 0;
  }
}

.elusive-briefcase:before {
  content: "\e10d";
}

.elusive-bullhorn:before {
  content: "\e10c";
}

.elusive-calendar:before {
  content: "\e10b";
}

.elusive-calendar-sign:before {
  content: "\e10a";
}

.elusive-cog:before {
  content: "\e109";
}

.elusive-cog-alt:before {
  content: "\e108";
}

.elusive-cogs:before {
  content: "\e107";
}

.elusive-comment:before {
  content: "\e106";
}

.elusive-error:before {
  content: "\e105";
}

.elusive-error-alt:before {
  content: "\e104";
}

.elusive-exclamation-sign:before {
  content: "\e103";
}

.elusive-eye-close:before {
  content: "\e102";
}

.elusive-flag-alt:before {
  content: "\e101";
}

.elusive-flickr:before {
  content: "\e100";
}

.elusive-folder:before {
  content: "\e0ff";
}

.elusive-folder-close:before {
  content: "\e0fe";
}

.elusive-globe-alt:before {
  content: "\e0fd";
}

.elusive-googleplus:before {
  content: "\e0fc";
}

.elusive-graph:before {
  content: "\e0fb";
}

.elusive-graph-alt:before {
  content: "\e0fa";
}

.elusive-idea-alt:before {
  content: "\e0f9";
}

.elusive-inbox:before {
  content: "\e0f8";
}

.elusive-inbox-alt:before {
  content: "\e0f7";
}

.elusive-inbox-box:before {
  content: "\e0f6";
}

.elusive-book:before {
  content: "\e0f5";
}

.elusive-bookmark:before {
  content: "\e0f4";
}

.elusive-bookmark-empty:before {
  content: "\e0f3";
}

.elusive-braille:before {
  content: "\e0f2";
}

.elusive-circle-arrow-right:before {
  content: "\e0f1";
}

.elusive-circle-arrow-up:before {
  content: "\e0f0";
}

.elusive-cloud:before {
  content: "\e0ef";
}

.elusive-cloud-alt:before {
  content: "\e0ee";
}

.elusive-edit:before {
  content: "\e0ed";
}

.elusive-eject:before {
  content: "\e0ec";
}

.elusive-envelope:before {
  content: "\e0eb";
}

.elusive-envelope-alt:before {
  content: "\e0ea";
}

.elusive-film:before {
  content: "\e0e9";
}

.elusive-filter:before {
  content: "\e0e8";
}

.elusive-fire:before {
  content: "\e0e7";
}

.elusive-flag:before {
  content: "\e0e6";
}

.elusive-github-text:before {
  content: "\e0e5";
}

.elusive-glass:before {
  content: "\e0e4";
}

.elusive-glasses:before {
  content: "\e0e3";
}

.elusive-globe:before {
  content: "\e0e2";
}

.elusive-heart-empty:before {
  content: "\e0e1";
}

.elusive-home:before {
  content: "\e0e0";
}

.elusive-home-alt:before {
  content: "\e0df";
}

.elusive-idea:before {
  content: "\e0de";
}

.elusive-address-book:before {
  content: "\e0dd";
}

.elusive-address-book-alt:before {
  content: "\e0dc";
}

.elusive-adjust:before {
  content: "\e0db";
}

.elusive-adult:before {
  content: "\e0da";
}

.elusive-align-center:before {
  content: "\e0d9";
}

.elusive-align-justify:before {
  content: "\e0d8";
}

.elusive-align-left:before {
  content: "\e0d7";
}

.elusive-align-right:before {
  content: "\e0d6";
}

.elusive-arrow-down:before {
  content: "\e0d5";
}

.elusive-arrow-left:before {
  content: "\e0d4";
}

.elusive-barcode:before {
  content: "\e0d3";
}

.elusive-behance:before {
  content: "\e0d2";
}

.elusive-bell:before {
  content: "\e0d1";
}

.elusive-blind:before {
  content: "\e0d0";
}

.elusive-blogger:before {
  content: "\e0cf";
}

.elusive-bold:before {
  content: "\e0ce";
}

.elusive-chevron-left:before {
  content: "\e0cd";
}

.elusive-chevron-right:before {
  content: "\e0cc";
}

.elusive-chevron-up:before {
  content: "\e0cb";
}

.elusive-child:before {
  content: "\e0ca";
}

.elusive-circle-arrow-down:before {
  content: "\e0c9";
}

.elusive-circle-arrow-left:before {
  content: "\e0c8";
}

.elusive-delicious:before {
  content: "\e0c7";
}

.elusive-deviantart:before {
  content: "\e0c6";
}

.elusive-digg:before {
  content: "\e0c5";
}

.elusive-download:before {
  content: "\e0c4";
}

.elusive-download-alt:before {
  content: "\e0c3";
}

.elusive-dribble:before {
  content: "\e0c2";
}

.elusive-file:before {
  content: "\e0c1";
}

.elusive-file-alt:before {
  content: "\e0c0";
}

.elusive-file-edit:before {
  content: "\e0bf";
}

.elusive-file-edit-alt:before {
  content: "\e0be";
}

.elusive-file-new:before {
  content: "\e0bd";
}

.elusive-file-new-alt:before {
  content: "\e0bc";
}

.elusive-foursquare:before {
  content: "\e0bb";
}

.elusive-friendfeed:before {
  content: "\e0ba";
}

.elusive-friendfeed-rect:before {
  content: "\e0b9";
}

.elusive-fullscreen:before {
  content: "\e0b8";
}

.elusive-gift:before {
  content: "\e0b7";
}

.elusive-github:before {
  content: "\e0b6";
}

.elusive-hand-up:before {
  content: "\e0b5";
}

.elusive-hdd:before {
  content: "\e0b4";
}

.elusive-headphones:before {
  content: "\e0b3";
}

.elusive-hearing-impaired:before {
  content: "\e0b2";
}

.elusive-heart:before {
  content: "\e0b1";
}

.elusive-heart-alt:before {
  content: "\e0b0";
}

.elusive-arrow-right:before {
  content: "\e0af";
}

.elusive-arrow-up:before {
  content: "\e0ae";
}

.elusive-asl:before {
  content: "\e0ad";
}

.elusive-asterisk:before {
  content: "\e0ac";
}

.elusive-backward:before {
  content: "\e0ab";
}

.elusive-ban-circle:before {
  content: "\e0aa";
}

.elusive-camera:before {
  content: "\e0a9";
}

.elusive-cc:before {
  content: "\e0a8";
}

.elusive-certificate:before {
  content: "\e0a7";
}

.elusive-check:before {
  content: "\e0a6";
}

.elusive-check-empty:before {
  content: "\e0a5";
}

.elusive-chevron-down:before {
  content: "\e0a4";
}

.elusive-comment-alt:before {
  content: "\e0a3";
}

.elusive-compass:before {
  content: "\e0a2";
}

.elusive-compass-alt:before {
  content: "\e0a1";
}

.elusive-credit-card:before {
  content: "\e0a0";
}

.elusive-css:before {
  content: "\e09f";
}

.elusive-dashboard:before {
  content: "\e09e";
}

.elusive-eye-open:before {
  content: "\e09d";
}

.elusive-facebook:before {
  content: "\e09c";
}

.elusive-facetime-video:before {
  content: "\e09b";
}

.elusive-fast-backward:before {
  content: "\e09a";
}

.elusive-fast-forward:before {
  content: "\e099";
}

.elusive-female:before {
  content: "\e098";
}

.elusive-folder-open:before {
  content: "\e097";
}

.elusive-folder-sign:before {
  content: "\e096";
}

.elusive-font:before {
  content: "\e095";
}

.elusive-fontsize:before {
  content: "\e094";
}

.elusive-forward:before {
  content: "\e093";
}

.elusive-forward-alt:before {
  content: "\e092";
}

.elusive-group:before {
  content: "\e091";
}

.elusive-group-alt:before {
  content: "\e090";
}

.elusive-guidedog:before {
  content: "\e08f";
}

.elusive-hand-down:before {
  content: "\e08e";
}

.elusive-hand-left:before {
  content: "\e08d";
}

.elusive-hand-right:before {
  content: "\e08c";
}

.elusive-indent-left:before {
  content: "\e08b";
}

.elusive-indent-right:before {
  content: "\e08a";
}

.elusive-info-sign:before {
  content: "\e089";
}

.elusive-instagram:before {
  content: "\e088";
}

.elusive-iphone-home:before {
  content: "\e087";
}

.elusive-italic:before {
  content: "\e086";
}

.elusive-key:before {
  content: "\e085";
}

.elusive-laptop:before {
  content: "\e084";
}

.elusive-laptop-alt:before {
  content: "\e083";
}

.elusive-leaf:before {
  content: "\e082";
}

.elusive-linkedin:before {
  content: "\e081";
}

.elusive-list:before {
  content: "\e080";
}

.elusive-list-alt:before {
  content: "\e07f";
}

.elusive-lock:before {
  content: "\e07e";
}

.elusive-lock-alt:before {
  content: "\e07d";
}

.elusive-magnet:before {
  content: "\e07c";
}

.elusive-male:before {
  content: "\e07b";
}

.elusive-map-marker:before {
  content: "\e07a";
}

.elusive-map-marker-alt:before {
  content: "\e079";
}

.elusive-mic:before {
  content: "\e078";
}

.elusive-mic-alt:before {
  content: "\e077";
}

.elusive-minus:before {
  content: "\e076";
}

.elusive-minus-sign:before {
  content: "\e075";
}

.elusive-move:before {
  content: "\e074";
}

.elusive-music:before {
  content: "\e073";
}

.elusive-network:before {
  content: "\e072";
}

.elusive-off:before {
  content: "\e071";
}

.elusive-ok:before {
  content: "\e070";
}

.elusive-ok-circle:before {
  content: "\e06f";
}

.elusive-ok-sign:before {
  content: "\e06e";
}

.elusive-paper-clip:before {
  content: "\e06d";
}

.elusive-paper-clip-alt:before {
  content: "\e06c";
}

.elusive-path:before {
  content: "\e06b";
}

.elusive-pause:before {
  content: "\e06a";
}

.elusive-pause-alt:before {
  content: "\e069";
}

.elusive-pencil:before {
  content: "\e068";
}

.elusive-pencil-alt:before {
  content: "\e067";
}

.elusive-person:before {
  content: "\e066";
}

.elusive-phone:before {
  content: "\e065";
}

.elusive-phone-alt:before {
  content: "\e064";
}

.elusive-photo:before {
  content: "\e063";
}

.elusive-photo-alt:before {
  content: "\e062";
}

.elusive-picasa:before {
  content: "\e061";
}

.elusive-picture:before {
  content: "\e060";
}

.elusive-pinterest:before {
  content: "\e05f";
}

.elusive-plane:before {
  content: "\e05e";
}

.elusive-play:before {
  content: "\e05d";
}

.elusive-play-alt:before {
  content: "\e05c";
}

.elusive-play-circle:before {
  content: "\e05b";
}

.elusive-plus:before {
  content: "\e05a";
}

.elusive-plus-sign:before {
  content: "\e059";
}

.elusive-print:before {
  content: "\e058";
}

.elusive-qrcode:before {
  content: "\e057";
}

.elusive-question:before {
  content: "\e056";
}

.elusive-question-sign:before {
  content: "\e055";
}

.elusive-quotes:before {
  content: "\e054";
}

.elusive-quotes-alt:before {
  content: "\e053";
}

.elusive-random:before {
  content: "\e052";
}

.elusive-record:before {
  content: "\e051";
}

.elusive-reddit:before {
  content: "\e050";
}

.elusive-refresh:before {
  content: "\e04f";
}

.elusive-remove:before {
  content: "\e04e";
}

.elusive-remove-circle:before {
  content: "\e04d";
}

.elusive-remove-sign:before {
  content: "\e04c";
}

.elusive-repeat:before {
  content: "\e04b";
}

.elusive-repeat-alt:before {
  content: "\e04a";
}

.elusive-resize-full:before {
  content: "\e049";
}

.elusive-resize-horizontal:before {
  content: "\e048";
}

.elusive-resize-small:before {
  content: "\e047";
}

.elusive-resize-vertical:before {
  content: "\e046";
}

.elusive-retweet:before {
  content: "\e045";
}

.elusive-reverse-alt:before {
  content: "\e044";
}

.elusive-road:before {
  content: "\e043";
}

.elusive-rss:before {
  content: "\e042";
}

.elusive-screen:before {
  content: "\e041";
}

.elusive-screen-alt:before {
  content: "\e040";
}

.elusive-screenshot:before {
  content: "\e03f";
}

.elusive-search:before {
  content: "\e03e";
}

.elusive-search-alt:before {
  content: "\e03d";
}

.elusive-share:before {
  content: "\e03c";
}

.elusive-share-alt:before {
  content: "\e03b";
}

.elusive-shopping-cart:before {
  content: "\e03a";
}

.elusive-shopping-cart-sign:before {
  content: "\e039";
}

.elusive-signal:before {
  content: "\e038";
}

.elusive-skype:before {
  content: "\e037";
}

.elusive-slideshare:before {
  content: "\e036";
}

.elusive-smiley:before {
  content: "\e035";
}

.elusive-smiley-alt:before {
  content: "\e034";
}

.elusive-speaker:before {
  content: "\e033";
}

.elusive-stackoverflow:before {
  content: "\e032";
}

.elusive-star:before {
  content: "\e031";
}

.elusive-star-alt:before {
  content: "\e030";
}

.elusive-star-empty:before {
  content: "\e02f";
}

.elusive-step-backward:before {
  content: "\e02e";
}

.elusive-step-forward:before {
  content: "\e02d";
}

.elusive-stop:before {
  content: "\e02c";
}

.elusive-stop-alt:before {
  content: "\e02b";
}

.elusive-stumbleupon:before {
  content: "\e02a";
}

.elusive-tag:before {
  content: "\e029";
}

.elusive-tags:before {
  content: "\e028";
}

.elusive-tasks:before {
  content: "\e027";
}

.elusive-text-height:before {
  content: "\e026";
}

.elusive-text-width:before {
  content: "\e025";
}

.elusive-th:before {
  content: "\e024";
}

.elusive-th-large:before {
  content: "\e023";
}

.elusive-th-list:before {
  content: "\e022";
}

.elusive-thumbs-down:before {
  content: "\e021";
}

.elusive-thumbs-up:before {
  content: "\e020";
}

.elusive-time:before {
  content: "\e01f";
}

.elusive-time-alt:before {
  content: "\e01e";
}

.elusive-tint:before {
  content: "\e01d";
}

.elusive-torso:before {
  content: "\e01c";
}

.elusive-trash:before {
  content: "\e01b";
}

.elusive-trash-alt:before {
  content: "\e01a";
}

.elusive-tumblr:before {
  content: "\e019";
}

.elusive-twitter:before {
  content: "\e018";
}

.elusive-universal-access:before {
  content: "\e017";
}

.elusive-unlock:before {
  content: "\e016";
}

.elusive-unlock-alt:before {
  content: "\e015";
}

.elusive-upload:before {
  content: "\e014";
}

.elusive-user:before {
  content: "\e013";
}

.elusive-video:before {
  content: "\e012";
}

.elusive-video-alt:before {
  content: "\e011";
}

.elusive-video-chat:before {
  content: "\e010";
}

.elusive-view-mode:before {
  content: "\e00f";
}

.elusive-vimeo:before {
  content: "\e00e";
}

.elusive-volume-down:before {
  content: "\e00d";
}

.elusive-volume-off:before {
  content: "\e00c";
}

.elusive-volume-up:before {
  content: "\e00b";
}

.elusive-w3c:before {
  content: "\e00a";
}

.elusive-warning-sign:before {
  content: "\e009";
}

.elusive-website:before {
  content: "\e008";
}

.elusive-website-alt:before {
  content: "\e007";
}

.elusive-wheelchair:before {
  content: "\e006";
}

.elusive-wordpress:before {
  content: "\e005";
}

.elusive-wrench:before {
  content: "\e004";
}

.elusive-wrench-alt:before {
  content: "\e003";
}

.elusive-youtube:before {
  content: "\e002";
}

.elusive-zoom-in:before {
  content: "\e001";
}

.elusive-zoom-out:before {
  content: "\e000";
}

.elusive-vkontakte:before {
  content: "\e10e";
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/font/fontawesome-webfont.eot?v=3.0.1');
  src: url('/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format("embedded-opentype"), url('/font/fontawesome-webfont.woff?v=3.0.1') format("woff"), url('/font/fontawesome-webfont.ttf?v=3.0.1') format("truetype");
  font-weight: normal;
  font-style: normal;
}


/*  Font Awesome styles
    ------------------------------------------------------- */

[class^="icofont-"], [class*=" icofont-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */

.icofont-white {
  background-image: none;
}

.nav-pills > .active > a > {
  [class^="icofont-"], [class*=" icofont-"] {
    background-image: none;
  }
}

.nav-list > .active > a > {
  [class^="icofont-"], [class*=" icofont-"] {
    background-image: none;
  }
}

.navbar-inverse .nav > .active > a > {
  [class^="icofont-"], [class*=" icofont-"] {
    background-image: none;
  }
}

.dropdown-menu > {
  li > a:hover > {
    [class^="icofont-"], [class*=" icofont-"] {
      background-image: none;
    }
  }
  .active > a > {
    [class^="icofont-"], [class*=" icofont-"] {
      background-image: none;
    }
  }
}

.dropdown-submenu:hover > a > {
  [class^="icofont-"], [class*=" icofont-"] {
    background-image: none;
  }
}

[class^="icofont-"]:before, [class*=" icofont-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */

a {
  [class^="icofont-"], [class*=" icofont-"] {
    display: inline-block;
  }
}

/* makes the font 33% larger relative to the icon container */

.icofont-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

.btn [class^="icofont-"], .nav [class^="icofont-"], .btn [class*=" icofont-"], .nav [class*=" icofont-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
}

.btn [class^="icofont-"].icofont-large, .nav [class^="icofont-"].icofont-large, .btn [class*=" icofont-"].icofont-large, .nav [class*=" icofont-"].icofont-large {
  line-height: .9em;
}

.btn [class^="icofont-"].icofont-spin, .nav [class^="icofont-"].icofont-spin, .btn [class*=" icofont-"].icofont-spin, .nav [class*=" icofont-"].icofont-spin {
  display: inline-block;
}

.nav-tabs [class^="icofont-"], .nav-pills [class^="icofont-"], .nav-tabs [class*=" icofont-"], .nav-pills [class*=" icofont-"] {
  /* keeps button heights with and without icons the same */
}

.nav-tabs [class^="icofont-"], .nav-pills [class^="icofont-"], .nav-tabs [class*=" icofont-"], .nav-pills [class*=" icofont-"], .nav-tabs [class^="icofont-"].icofont-large, .nav-pills [class^="icofont-"].icofont-large, .nav-tabs [class*=" icofont-"].icofont-large, .nav-pills [class*=" icofont-"].icofont-large {
  line-height: .9em;
}

li [class^="icofont-"], .nav li [class^="icofont-"], li [class*=" icofont-"], .nav li [class*=" icofont-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li [class^="icofont-"].icofont-large, .nav li [class^="icofont-"].icofont-large, li [class*=" icofont-"].icofont-large, .nav li [class*=" icofont-"].icofont-large {
  /* increased font size for icofont-large */
  width: 1.5625em;
}

ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
  li {
    [class^="icofont-"], [class*=" icofont-"] {
      width: .75em;
    }
  }
}

.icofont-muted {
  color: #eeeeee;
}

.icofont-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icofont-2x {
  font-size: 2em;
  &.icofont-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.icofont-3x {
  font-size: 3em;
  &.icofont-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.icofont-4x {
  font-size: 4em;
  &.icofont-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

[class^="icofont-"].pull-left, [class*=" icofont-"].pull-left {
  margin-right: .3em;
}

[class^="icofont-"].pull-right, [class*=" icofont-"].pull-right {
  margin-left: .3em;
}

.btn {
  [class^="icofont-"].pull-left.icofont-2x, [class*=" icofont-"].pull-left.icofont-2x, [class^="icofont-"].pull-right.icofont-2x, [class*=" icofont-"].pull-right.icofont-2x {
    margin-top: .18em;
  }
  [class^="icofont-"].icofont-spin.icofont-large, [class*=" icofont-"].icofont-spin.icofont-large {
    line-height: .8em;
  }
  &.btn-small {
    [class^="icofont-"].pull-left.icofont-2x, [class*=" icofont-"].pull-left.icofont-2x, [class^="icofont-"].pull-right.icofont-2x, [class*=" icofont-"].pull-right.icofont-2x {
      margin-top: .25em;
    }
  }
  &.btn-large {
    [class^="icofont-"], [class*=" icofont-"] {
      margin-top: 0;
    }
    [class^="icofont-"].pull-left.icofont-2x, [class*=" icofont-"].pull-left.icofont-2x, [class^="icofont-"].pull-right.icofont-2x, [class*=" icofont-"].pull-right.icofont-2x {
      margin-top: .05em;
    }
    [class^="icofont-"].pull-left.icofont-2x, [class*=" icofont-"].pull-left.icofont-2x {
      margin-right: .2em;
    }
    [class^="icofont-"].pull-right.icofont-2x, [class*=" icofont-"].pull-right.icofont-2x {
      margin-left: .2em;
    }
  }
}

.icofont-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}


@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}


@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


@-moz-document url-prefix() {
  .icofont-spin {
    height: .9em;
  }
  .btn .icofont-spin {
    height: auto;
  }
  .icofont-spin.icofont-large {
    height: 1.25em;
  }
  .btn .icofont-spin.icofont-large {
    height: .75em;
  }
}


/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

.icofont-glass:before {
  content: "\f000";
}

.icofont-music:before {
  content: "\f001";
}

.icofont-search:before {
  content: "\f002";
}

.icofont-envelope:before {
  content: "\f003";
}

.icofont-heart:before {
  content: "\f004";
}

.icofont-star:before {
  content: "\f005";
}

.icofont-star-empty:before {
  content: "\f006";
}

.icofont-user:before {
  content: "\f007";
}

.icofont-film:before {
  content: "\f008";
}

.icofont-th-large:before {
  content: "\f009";
}

.icofont-th:before {
  content: "\f00a";
}

.icofont-th-list:before {
  content: "\f00b";
}

.icofont-ok:before {
  content: "\f00c";
}

.icofont-remove:before {
  content: "\f00d";
}

.icofont-zoom-in:before {
  content: "\f00e";
}

.icofont-zoom-out:before {
  content: "\f010";
}

.icofont-off:before {
  content: "\f011";
}

.icofont-signal:before {
  content: "\f012";
}

.icofont-cog:before {
  content: "\f013";
}

.icofont-trash:before {
  content: "\f014";
}

.icofont-home:before {
  content: "\f015";
}

.icofont-file:before {
  content: "\f016";
}

.icofont-time:before {
  content: "\f017";
}

.icofont-road:before {
  content: "\f018";
}

.icofont-download-alt:before {
  content: "\f019";
}

.icofont-download:before {
  content: "\f01a";
}

.icofont-upload:before {
  content: "\f01b";
}

.icofont-inbox:before {
  content: "\f01c";
}

.icofont-play-circle:before {
  content: "\f01d";
}

.icofont-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */

.icofont-refresh:before {
  content: "\f021";
}

.icofont-list-alt:before {
  content: "\f022";
}

.icofont-lock:before {
  content: "\f023";
}

.icofont-flag:before {
  content: "\f024";
}

.icofont-headphones:before {
  content: "\f025";
}

.icofont-volume-off:before {
  content: "\f026";
}

.icofont-volume-down:before {
  content: "\f027";
}

.icofont-volume-up:before {
  content: "\f028";
}

.icofont-qrcode:before {
  content: "\f029";
}

.icofont-barcode:before {
  content: "\f02a";
}

.icofont-tag:before {
  content: "\f02b";
}

.icofont-tags:before {
  content: "\f02c";
}

.icofont-book:before {
  content: "\f02d";
}

.icofont-bookmark:before {
  content: "\f02e";
}

.icofont-print:before {
  content: "\f02f";
}

.icofont-camera:before {
  content: "\f030";
}

.icofont-font:before {
  content: "\f031";
}

.icofont-bold:before {
  content: "\f032";
}

.icofont-italic:before {
  content: "\f033";
}

.icofont-text-height:before {
  content: "\f034";
}

.icofont-text-width:before {
  content: "\f035";
}

.icofont-align-left:before {
  content: "\f036";
}

.icofont-align-center:before {
  content: "\f037";
}

.icofont-align-right:before {
  content: "\f038";
}

.icofont-align-justify:before {
  content: "\f039";
}

.icofont-list:before {
  content: "\f03a";
}

.icofont-indent-left:before {
  content: "\f03b";
}

.icofont-indent-right:before {
  content: "\f03c";
}

.icofont-facetime-video:before {
  content: "\f03d";
}

.icofont-picture:before {
  content: "\f03e";
}

.icofont-pencil:before {
  content: "\f040";
}

.icofont-map-marker:before {
  content: "\f041";
}

.icofont-adjust:before {
  content: "\f042";
}

.icofont-tint:before {
  content: "\f043";
}

.icofont-edit:before {
  content: "\f044";
}

.icofont-share:before {
  content: "\f045";
}

.icofont-check:before {
  content: "\f046";
}

.icofont-move:before {
  content: "\f047";
}

.icofont-step-backward:before {
  content: "\f048";
}

.icofont-fast-backward:before {
  content: "\f049";
}

.icofont-backward:before {
  content: "\f04a";
}

.icofont-play:before {
  content: "\f04b";
}

.icofont-pause:before {
  content: "\f04c";
}

.icofont-stop:before {
  content: "\f04d";
}

.icofont-forward:before {
  content: "\f04e";
}

.icofont-fast-forward:before {
  content: "\f050";
}

.icofont-step-forward:before {
  content: "\f051";
}

.icofont-eject:before {
  content: "\f052";
}

.icofont-chevron-left:before {
  content: "\f053";
}

.icofont-chevron-right:before {
  content: "\f054";
}

.icofont-plus-sign:before {
  content: "\f055";
}

.icofont-minus-sign:before {
  content: "\f056";
}

.icofont-remove-sign:before {
  content: "\f057";
}

.icofont-ok-sign:before {
  content: "\f058";
}

.icofont-question-sign:before {
  content: "\f059";
}

.icofont-info-sign:before {
  content: "\f05a";
}

.icofont-screenshot:before {
  content: "\f05b";
}

.icofont-remove-circle:before {
  content: "\f05c";
}

.icofont-ok-circle:before {
  content: "\f05d";
}

.icofont-ban-circle:before {
  content: "\f05e";
}

.icofont-arrow-left:before {
  content: "\f060";
}

.icofont-arrow-right:before {
  content: "\f061";
}

.icofont-arrow-up:before {
  content: "\f062";
}

.icofont-arrow-down:before {
  content: "\f063";
}

.icofont-share-alt:before {
  content: "\f064";
}

.icofont-resize-full:before {
  content: "\f065";
}

.icofont-resize-small:before {
  content: "\f066";
}

.icofont-plus:before {
  content: "\f067";
}

.icofont-minus:before {
  content: "\f068";
}

.icofont-asterisk:before {
  content: "\f069";
}

.icofont-exclamation-sign:before {
  content: "\f06a";
}

.icofont-gift:before {
  content: "\f06b";
}

.icofont-leaf:before {
  content: "\f06c";
}

.icofont-fire:before {
  content: "\f06d";
}

.icofont-eye-open:before {
  content: "\f06e";
}

.icofont-eye-close:before {
  content: "\f070";
}

.icofont-warning-sign:before {
  content: "\f071";
}

.icofont-plane:before {
  content: "\f072";
}

.icofont-calendar:before {
  content: "\f073";
}

.icofont-random:before {
  content: "\f074";
}

.icofont-comment:before {
  content: "\f075";
}

.icofont-magnet:before {
  content: "\f076";
}

.icofont-chevron-up:before {
  content: "\f077";
}

.icofont-chevron-down:before {
  content: "\f078";
}

.icofont-retweet:before {
  content: "\f079";
}

.icofont-shopping-cart:before {
  content: "\f07a";
}

.icofont-folder-close:before {
  content: "\f07b";
}

.icofont-folder-open:before {
  content: "\f07c";
}

.icofont-resize-vertical:before {
  content: "\f07d";
}

.icofont-resize-horizontal:before {
  content: "\f07e";
}

.icofont-bar-chart:before {
  content: "\f080";
}

.icofont-twitter-sign:before {
  content: "\f081";
}

.icofont-facebook-sign:before {
  content: "\f082";
}

.icofont-camera-retro:before {
  content: "\f083";
}

.icofont-key:before {
  content: "\f084";
}

.icofont-cogs:before {
  content: "\f085";
}

.icofont-comments:before {
  content: "\f086";
}

.icofont-thumbs-up:before {
  content: "\f087";
}

.icofont-thumbs-down:before {
  content: "\f088";
}

.icofont-star-half:before {
  content: "\f089";
}

.icofont-heart-empty:before {
  content: "\f08a";
}

.icofont-signout:before {
  content: "\f08b";
}

.icofont-linkedin-sign:before {
  content: "\f08c";
}

.icofont-pushpin:before {
  content: "\f08d";
}

.icofont-external-link:before {
  content: "\f08e";
}

.icofont-signin:before {
  content: "\f090";
}

.icofont-trophy:before {
  content: "\f091";
}

.icofont-github-sign:before {
  content: "\f092";
}

.icofont-upload-alt:before {
  content: "\f093";
}

.icofont-lemon:before {
  content: "\f094";
}

.icofont-phone:before {
  content: "\f095";
}

.icofont-check-empty:before {
  content: "\f096";
}

.icofont-bookmark-empty:before {
  content: "\f097";
}

.icofont-phone-sign:before {
  content: "\f098";
}

.icofont-twitter:before {
  content: "\f099";
}

.icofont-facebook:before {
  content: "\f09a";
}

.icofont-github:before {
  content: "\f09b";
}

.icofont-unlock:before {
  content: "\f09c";
}

.icofont-credit-card:before {
  content: "\f09d";
}

.icofont-rss:before {
  content: "\f09e";
}

.icofont-hdd:before {
  content: "\f0a0";
}

.icofont-bullhorn:before {
  content: "\f0a1";
}

.icofont-bell:before {
  content: "\f0a2";
}

.icofont-certificate:before {
  content: "\f0a3";
}

.icofont-hand-right:before {
  content: "\f0a4";
}

.icofont-hand-left:before {
  content: "\f0a5";
}

.icofont-hand-up:before {
  content: "\f0a6";
}

.icofont-hand-down:before {
  content: "\f0a7";
}

.icofont-circle-arrow-left:before {
  content: "\f0a8";
}

.icofont-circle-arrow-right:before {
  content: "\f0a9";
}

.icofont-circle-arrow-up:before {
  content: "\f0aa";
}

.icofont-circle-arrow-down:before {
  content: "\f0ab";
}

.icofont-globe:before {
  content: "\f0ac";
}

.icofont-wrench:before {
  content: "\f0ad";
}

.icofont-tasks:before {
  content: "\f0ae";
}

.icofont-filter:before {
  content: "\f0b0";
}

.icofont-briefcase:before {
  content: "\f0b1";
}

.icofont-fullscreen:before {
  content: "\f0b2";
}

.icofont-group:before {
  content: "\f0c0";
}

.icofont-link:before {
  content: "\f0c1";
}

.icofont-cloud:before {
  content: "\f0c2";
}

.icofont-beaker:before {
  content: "\f0c3";
}

.icofont-cut:before {
  content: "\f0c4";
}

.icofont-copy:before {
  content: "\f0c5";
}

.icofont-paper-clip:before {
  content: "\f0c6";
}

.icofont-save:before {
  content: "\f0c7";
}

.icofont-sign-blank:before {
  content: "\f0c8";
}

.icofont-reorder:before {
  content: "\f0c9";
}

.icofont-list-ul:before {
  content: "\f0ca";
}

.icofont-list-ol:before {
  content: "\f0cb";
}

.icofont-strikethrough:before {
  content: "\f0cc";
}

.icofont-underline:before {
  content: "\f0cd";
}

.icofont-table:before {
  content: "\f0ce";
}

.icofont-magic:before {
  content: "\f0d0";
}

.icofont-truck:before {
  content: "\f0d1";
}

.icofont-pinterest:before {
  content: "\f0d2";
}

.icofont-pinterest-sign:before {
  content: "\f0d3";
}

.icofont-google-plus-sign:before {
  content: "\f0d4";
}

.icofont-google-plus:before {
  content: "\f0d5";
}

.icofont-money:before {
  content: "\f0d6";
}

.icofont-caret-down:before {
  content: "\f0d7";
}

.icofont-caret-up:before {
  content: "\f0d8";
}

.icofont-caret-left:before {
  content: "\f0d9";
}

.icofont-caret-right:before {
  content: "\f0da";
}

.icofont-columns:before {
  content: "\f0db";
}

.icofont-sort:before {
  content: "\f0dc";
}

.icofont-sort-down:before {
  content: "\f0dd";
}

.icofont-sort-up:before {
  content: "\f0de";
}

.icofont-envelope-alt:before {
  content: "\f0e0";
}

.icofont-linkedin:before {
  content: "\f0e1";
}

.icofont-undo:before {
  content: "\f0e2";
}

.icofont-legal:before {
  content: "\f0e3";
}

.icofont-dashboard:before {
  content: "\f0e4";
}

.icofont-comment-alt:before {
  content: "\f0e5";
}

.icofont-comments-alt:before {
  content: "\f0e6";
}

.icofont-bolt:before {
  content: "\f0e7";
}

.icofont-sitemap:before {
  content: "\f0e8";
}

.icofont-umbrella:before {
  content: "\f0e9";
}

.icofont-paste:before {
  content: "\f0ea";
}

.icofont-lightbulb:before {
  content: "\f0eb";
}

.icofont-exchange:before {
  content: "\f0ec";
}

.icofont-cloud-download:before {
  content: "\f0ed";
}

.icofont-cloud-upload:before {
  content: "\f0ee";
}

.icofont-user-md:before {
  content: "\f0f0";
}

.icofont-stethoscope:before {
  content: "\f0f1";
}

.icofont-suitcase:before {
  content: "\f0f2";
}

.icofont-bell-alt:before {
  content: "\f0f3";
}

.icofont-coffee:before {
  content: "\f0f4";
}

.icofont-food:before {
  content: "\f0f5";
}

.icofont-file-alt:before {
  content: "\f0f6";
}

.icofont-building:before {
  content: "\f0f7";
}

.icofont-hospital:before {
  content: "\f0f8";
}

.icofont-ambulance:before {
  content: "\f0f9";
}

.icofont-medkit:before {
  content: "\f0fa";
}

.icofont-fighter-jet:before {
  content: "\f0fb";
}

.icofont-beer:before {
  content: "\f0fc";
}

.icofont-h-sign:before {
  content: "\f0fd";
}

.icofont-plus-sign-alt:before {
  content: "\f0fe";
}

.icofont-double-angle-left:before {
  content: "\f100";
}

.icofont-double-angle-right:before {
  content: "\f101";
}

.icofont-double-angle-up:before {
  content: "\f102";
}

.icofont-double-angle-down:before {
  content: "\f103";
}

.icofont-angle-left:before {
  content: "\f104";
}

.icofont-angle-right:before {
  content: "\f105";
}

.icofont-angle-up:before {
  content: "\f106";
}

.icofont-angle-down:before {
  content: "\f107";
}

.icofont-desktop:before {
  content: "\f108";
}

.icofont-laptop:before {
  content: "\f109";
}

.icofont-tablet:before {
  content: "\f10a";
}

.icofont-mobile-phone:before {
  content: "\f10b";
}

.icofont-circle-blank:before {
  content: "\f10c";
}

.icofont-quote-left:before {
  content: "\f10d";
}

.icofont-quote-right:before {
  content: "\f10e";
}

.icofont-spinner:before {
  content: "\f110";
}

.icofont-circle:before {
  content: "\f111";
}

.icofont-reply:before {
  content: "\f112";
}

.icofont-github-alt:before {
  content: "\f113";
}

.icofont-folder-close-alt:before {
  content: "\f114";
}

.icofont-folder-open-alt:before {
  content: "\f115";
}