<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>

        <link href="http://fonts.googleapis.com/css?family=Aclonica:regular" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="styles/main.css"/>
    </head>
    <body ng-app="trankeeloManagerApp">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="scripts/vendor/es5-shim.min.js"></script>
            <script src="scripts/vendor/json3.min.js"></script>
        <![endif]-->

        <header class="header" data-spy="affix" data-offset-top="0">
            <div class="navbar-helper">
                <div class="row-fluid">
                    <div class="span2">
                        <div class="panel-sitename">
                            <h2><a href="#/"><span class="color-teal">Tran</span>Keelo</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- section content -->
        <section class="section">
            <div class="row-fluid">
                <!-- span side-left -->
                <div class="span1" ng-controller="NavCtrl">
                    <!--side bar-->
                    <aside class="side-left">
                        <ul class="sidebar">
                            <li ng-repeat="nav in navs">
                                <a href="{{nav.url}}" ng-click="updateActiveNav()">
                                    <div class="helper-font-24">
                                        <i class="{{nav.iconCls}}"></i>
                                    </div>
                                    <span class="sidebar-text">{{nav.name}}</span>
                                </a>
                            </li>

                            <!-- <li class="active">
                                <a href="#/dashboard" title="dashboard">
                                    <div class="helper-font-24">
                                        <i class="icofont-dashboard"></i>
                                    </div>
                                    <span class="sidebar-text">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/stores" title="stores">
                                    <div class="helper-font-24">
                                        <i class="icofont-sitemap"></i>
                                    </div>
                                    <span class="sidebar-text">Stores</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/cashier" title="cashier">
                                    <div class="helper-font-24">
                                        <i class="icofont-group"></i>
                                    </div>
                                    <span class="sidebar-text">Cashier</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/template" title="template">
                                    <div class="helper-font-24">
                                        <i class="icofont-edit"></i>
                                    </div>
                                    <span class="sidebar-text">Template</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/items" title="items">
                                    <div class="helper-font-24">
                                        <i class="icofont-qrcode"></i>
                                    </div>
                                    <span class="sidebar-text">Items</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/inventory" title="inventory">
                                    <div class="helper-font-24">
                                        <i class="icofont-book"></i>
                                    </div>
                                    <span class="sidebar-text">Inventory</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/expenses" title="expenses">
                                    <div class="helper-font-24">
                                        <i class="icofont-money"></i>
                                    </div>
                                    <span class="sidebar-text">Expenses</span>
                                </a>
                            </li>
                            <li>
                                <a href="#/history" title="history">
                                    <div class="helper-font-24">
                                        <i class="icofont-calendar"></i>
                                    </div>
                                    <span class="sidebar-text">History</span>
                                </a>
                            </li> -->
                        </ul>
                    </aside><!--/side bar -->
                </div><!-- span side-left -->
                
                <!-- span content -->
                <div class="span9">
                    <!-- content -->
                    <div ng-view></div>
                    <!-- /content -->
                </div><!-- /span content -->
                
                <!-- span side-right -->
                <div class="span2">
                    <!-- side-right -->
                    <aside class="side-right">
                        <!-- sidebar-right -->
                        <div class="sidebar-right">
                            <!--sidebar-right-header-->
                            <div class="sidebar-right-header">
                                <div class="sr-header-right">
                                    <h2><span class="label label-info">$26,875</span></h2>
                                </div>
                                <div class="sr-header-left">
                                    <p class="bold">Month Sales</p>
                                    <small class="muted">Dec 2012</small>
                                </div>
                            </div><!--/sidebar-right-header-->
                            <!--sidebar-right-control-->
                            <div class="sidebar-right-control">
                                <ul class="sr-control-item">
                                    <li class="active"><a href="#contact" data-toggle="tab" title="contacts"><i class="icofont-group"></i></a></li>
                                    <li><a href="#alt1" data-toggle="tab" title="alternative 1"><i class="icofont-flag"></i></a></li>
                                </ul>
                            </div><!-- /sidebar-right-control-->
                            <!-- sidebar-right-content -->
                            <div class="sidebar-right-content">
                                <div class="tab-content">
                                    <div class="side-contact">
                                        <!--contact-list, we set this max-height:380px, you can set this if you want-->
                                        <ul class="contact-list">
                                            <li class="contact-alt grd-white">
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="iin@mail.com">
                                                    <!--we use contact-item structure like the component media in bootstrap-->
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="busy"><i class="icofont-certificate color-red syncing-active"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 1</p>
                                                            <p class="help-block"><small class="muted">Syncing...</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="contact-alt grd-white">
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="sungep@mail.com">
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="idle"><i class="icofont-certificate color-orange"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 2</p>
                                                            <p class="help-block"><small class="muted">Idle</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="contact-alt grd-white">
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="harab@mail.com">
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="ofline"><i class="icofont-certificate color-silver-dark"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 3</p>
                                                            <p class="help-block"><small class="muted">Offline</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="contact-alt grd-white"> <!-- you can use this for active contact or your self status-->
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="janesmith@mail.com">
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="online"><i class="icofont-certificate color-green"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 4</p>
                                                            <p class="help-block"><small class="muted">Online</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="contact-alt grd-white">
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="mahardika@mail.com">
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="online"><i class="icofont-certificate color-green transaction-active"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 5</p>
                                                            <p class="help-block"><small class="muted">Active...</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="contact-alt grd-white">
                                                <!--we use data toggle tab for navigate this action-->
                                                <a href="#chat" data-toggle="tab" data-id="opytama@mail.com">
                                                    <div class="contact-item">
                                                        <div class="contact-item-body">
                                                            <div class="status" title="ofline"><i class="icofont-certificate color-silver-dark"></i></div>
                                                            <p class="contact-item-heading bold">Cashier 6</p>
                                                            <p class="help-block"><small class="muted">Offline</small></p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul><!--/contact-list-->
                                    </div>
                                </div>
                            </div><!-- /sidebar-right-content -->
                        </div><!-- /sidebar-right -->
                    </aside><!-- /side-right -->
                </div><!-- /span side-right -->
            </div>
        </section>

        <script src="components/jquery/jquery.min.js"></script>
        <script src="scripts/vendor/angular.js"></script>

        <script>
            function blink(){
                $('.transaction-active').delay(100).fadeTo(100,0.5).delay(100).fadeTo(100,1, blink);
                $('.syncing-active').delay(50).fadeTo(100,0.5).delay(100).fadeTo(100,1, blink);
            }

            $(document).ready(function() {
                blink();
            });
        </script>

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/stores.js"></script>
        <script src="scripts/controllers/cashier.js"></script>
        <script src="scripts/controllers/template.js"></script>
        <script src="scripts/controllers/items.js"></script>
        <script src="scripts/controllers/inventory.js"></script>
        <script src="scripts/controllers/expenses.js"></script>
        <script src="scripts/controllers/history.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/services/NavService.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
