
<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <ul class="content-header-action pull-right">
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-green">
                            <i class="icofont-flag"></i>
                        </div>
                    </div>
                    <div class="action-text color-green">8765 <span class="helper-font-small color-silver-dark">Visits</span></div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-teal">
                            <i class="icofont-user-md"></i>
                        </div>
                    </div>
                    <div class="action-text color-teal">1437 <span class="helper-font-small color-silver-dark">Users</span></div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-orange">$</div>
                    </div>
                    <div class="action-text color-orange">4367 <span class="helper-font-small color-silver-dark">Orders</span></div>
                </a>
            </li>
        </ul>
        <h2><i class="icofont-star"></i> Inventory</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
                <p>This is the inventory view.</p>
            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->
