
<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <ul class="content-header-action pull-right" ng-show="page.show_add_button">
            <li class="divider"></li>
            <li>
                <a href ng-click="showAddStore()">
                    <div class="badge-circle color-white">
                        <div class="grd-teal">
                            <i class="icofont-plus-sign"></i>
                        </div>
                    </div>
                    <div class="action-text color-teal">Store <span class="helper-font-small color-silver-dark">Add</span></div>
                </a>
            </li>
        </ul>
        <h2><i class="icofont-star"></i> Stores</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">

                <!-- store-new -->
                <div id="store-new" class="row-fluid" ng-show="page.show_add_item">
                    <div class="span12">
                        <div class="box corner-all">
                            
                            <div class="box-header grd-white color-silver-dark corner-top">
                                <span>Add New Store</span>
                            </div>
                            
                            <div class="box-body" style="display: block;">
                                <form class="form-horizontal" ng-submit="addStore()">
                                    <div class="control-group">
                                        <label class="control-label" for="inputName">Name</label>
                                        <div class="controls">
                                            <input type="text" id="inputName" class="grd-white" ng-model="store.name">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputTin">Tax ID Number</label>
                                        <div class="controls">
                                            <input type="text" id="inputTin" class="grd-white" ng-model="store.tin">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputDescription">Description</label>
                                        <div class="controls">
                                            <input type="text" id="inputDescription" class="grd-white" ng-model="store.description">
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                        <button type="button" class="btn" ng-click="cancelAddStore()">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- store-list -->
                <!-- <div id="store-list">
                    <ul>
                        <li ng-repeat="store in stores">{{store.name}}: {{store.description}}</li>
                    </ul>
                </div> -->

                <!-- test start -->
                <!--datatables-->
                <div class="row-fluid" ng-show="page.show_list">
                    <div class="span12">
                        <div class="box corner-all">
                            <div class="box-header grd-white corner-top">
                                <span>Store List</span>
                            </div>
                            <div class="box-body">
                                <div id="table_loading" ng-show="page.show_list_loading">Loading....</div>
                                <table id="datatables" class="table table-bordered table-striped responsive" ng-show="page.show_list_table">
                                </table>
                            </div><!-- /box-body -->
                        </div><!-- /box -->
                    </div><!-- /span -->
                </div><!--/datatables-->
                <!-- test end -->

            </div>
        </div>
    </div>
</div>
