
<!-- content -->
<div class="content">
    <!-- content-header -->
    <div class="content-header">
        <ul class="content-header-action pull-right">
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div class="badge-circle color-white">
                        <div class="grd-teal">
                            <i class="icofont-plus-sign"></i>
                        </div>
                    </div>
                    <div class="action-text color-teal">Store <span class="helper-font-small color-silver-dark">Add</span></div>
                </a>
            </li>
        </ul>
        <h2><i class="icofont-star"></i> Stores</h2>
    </div><!-- /content-header -->
    
    <!-- content-body -->
    <div class="content-body">
        <!-- icons -->
        <div class="row-fluid">
            <div class="span12">
                <p>This is the stores view.</p>

                
            </div><!--/span-->
        </div><!--/icons-->
    </div><!--/content-body -->
</div><!-- /content -->
